De : <?php echo $email;?> </br>
<?php echo $name;?> <?php echo $lastname;?> vous a contacté </br>
<?php  $message;?></br>
<?php echo $address;?></br>
<?php echo $cp;?></br>
<?php echo $content ;?></br>