<p>
	<strong>Bonjour Utilisateur inconnu</strong>


</p>
<p>
	Vous avez fait une demande de récuperation de mot de passe.
	cliquer sur le lien : <strong><?php echo $this->Html->link('Récuperation Mot de passe', $this->Html->url($link,true)); ?></strong>
</p>