<p>
	<strong>Bonjour Utilisateur inconnu</strong>


</p>
<p>
	Pour activer votre compte,
	cliquer sur le lien : <?php echo $this->Html->link('Activer Mon Compte', $this->Html->url($link,true)); ?>
</p>