<h2>Produits</h2>
<table class = 'table-striped table-condensed'>
	<th>
		<tr>
			<td><u>Désignation</u></td>
<?php foreach($categories as $categorie): ?>
			<td><u><?php echo $categorie['Category']['name'] ?></u></td>
<?php endforeach ?>
		</tr>
	</th>
<?php foreach ($products as $product): ?>
    <tr>
    <td><?php echo $product['Product']['name_fr']; ?></td> 
<?php foreach($categories as $categorie): ?>
	<td>
		<?php //echo '<ul>'.$categorie['Category']['id'] ?>
	<?php foreach($product['Detail'] as $detail): ?>
		<?php //echo ' '.$detail['category_id'] ?>
		<?php if($detail['category_id']==$categorie['Category']['id']): ?>
			<?php echo '<center>'.$this->Html->image('desing/ok_1.png', array('width'=>'25px')).'</center>'; ?>
			<?php break ?>
		<?php endif ?>
	<?php endforeach ?>
	</td>
<?php endforeach ?>
    </tr>
<?php endforeach; ?>
</table>

