/* ACCUEIL Configurations */
.home-box-container {
	/*background-color:#CCCCCC;*/
	width:100%;
	max-width:957px;
	/*hasina*/
}

.home-box1 {
	width:478px;
	float:left;
}

.home-box2 {
	width:471px;
	float:right;
}

.home-box-head1 {
	border-radius:5px 5px 0 0;
	width:461px;
	height:100px;
	background-color:#6d1f80;
}

.home-box-head2 {
	border-radius:5px 5px 0 0;
	width:461px;
	height:100px;
	background-color:#4576b6;
}

.h-box-content1 {
	width:100%;
	height:385px;
	background-image:url('img/fond_1.png');
	background-repeat:no-repeat;
}

.h-box-content2 {
	width:100%;
	height:385px;
	background-image:url('img/fond_2.png');
	background-repeat:no-repeat;
}

.box-h-big-title {
	color:#FFFFFF;
	font-family:sans-serif;
	font-size:23px;
	font-weight:bold;
	padding:10px;
}

.box-h-title {
	color:#FFFFFF;
	font-family:sans-serif;
	font-size:18px;
	padding:0px 10px 10px 10px;
}

.box-left-content {
	width:170px;
	float:left;
	padding:20px;
}

.red-title {
	color:#e7001a;
	font-family:sans-serif;
	font-size:21px;
	font-weight:bold;
	line-height:0.8;
}

.blue-description {
	font-family:sans-serif;
	font-size:9px;
	color:#5c89bd;
	padding:1px 0px 10px 20px;
}

.box-right-content {
	float:left;
	padding-top:270px;
	width:245px;
}

.vert-purple-bar {
	float:left;
	border-radius:5px;
	width:7px;
	height:80px;
	background-color:#70227b;
	margin-right:10px;
}

.purple-text {
	font-family:Arial, Helvetica, sans-serif;
	color:#70227b;
	font-size:20px;
	line-height:1.4;
}

.content-box2-left {
	width:230px;
	height:130px;
	float:left;
	padding-top:50px;
	padding-left:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#3a537b;
}

.content-box2-right {
	height:155px;
	float:left;
	padding-top:5px;
}

.h-box-foot1 {
	width:461px;
	border-radius:0 0 5px 5px;
	height:13px;
	background-color:#6d1f80;
}

.h-box-foot2 {
	width:461px;
	border-radius:0 0 5px 5px;
	height:13px;
	background-color:#4576b6;
}

.text-h-container {
	width:100%;
	max-width:945px;
	height:auto;
	font-family:sans-serif;
	color:#4278b2;
	margin-top:54px;
	font-size:21px;
	/*hasina*/
}

.img-list {
	float:left;
	margin-left:15px;
}

.img-list-content {
	padding-left:45px;
}

.content-box2-bottom-txt {
	padding-top:10px;
	padding-left:40px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#3a537b;
}

.align-right-bot-txt {
	text-align:right;
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#4379b2;
	line-height: 1.3;
	padding: 7px 10px 0px 0px;
}

.img-after-text {
	float:right;
	text-align:right;
}
.chng{
	cursor: pointer;
}