/*PAGE ADMINS page 2*/
/*Connexion*/
#connexion{
    float: left;
    display: block;
    width: 1000px;
    height: 30px;
    margin-top: 10px;
    margin-left: 300px;
}
#home{
    float: right;
    width: 30px;
    height: 30px;
    margin-right:15px;
}
a#linkDeconnect{
    display: block;
    float: right;
    width: 150px;
    height: 30px;
    background-color: #e8002c;
    color:#ffffff;
    text-align: center;
    font-size: 14pt;
}
#adminPage{
    clear: both;
    float: left;
    display: block;
    width: 1000px;
    height: 650px;
    margin-top: 130px;
    padding-left: 110px;
    padding-right:110px; 
}
#adminPage a{
    text-decoration: none;
}
/*PAGE ADMINS Element page*/
#elementPage{
    margin-right:38px;
    float: left;
    width: 186px;
    height: 156px;
    text-align: center;
}
#titlePage{
    display: block;
    color:#295573;
    text-align: center;
    width: 186px; 
    font-size: 16pt;
    margin-top: 15px;
    text-transform: uppercase;
}
/*PAGE ADMINS Element utilisateur*/
#elementUtilisateur{
    float: left;
    margin-left:38px;
    margin-right:38px;
    width: 186px;
    height: 158px;
    text-align: center;  
}
#titleUtilisateur{
    display: block;
    color:#b2c641;
    text-align: center;
    width: 186px; 
    font-size: 16pt;
    margin-top: 15px;
    text-transform: uppercase;
}
/*PAGE ADMINS Element commande*/
#elementCommande{
    float: left;
    margin-left:38px;
    margin-right:38px;
    width: 186px;
    height: 158px; 
    text-align: center; 
}
#titleCommande{
    display: block;
    color:#fb9333;
    text-align: center;
    width: 186px; 
    font-size: 16pt;
    margin-top: 15px;
    text-transform: uppercase;
}
/*PAGE ADMINS Element logiciel*/
#elementLogiciel{
    float: left;
    margin-top: 70px;
    margin-right:38px;
    width: 186px;
    height: 158px;
    text-align: center;  
}
#titleLogiciel{
    display: block;
    color:#e8002c;
    text-align: center;
    width: 186px; 
    font-size: 16pt;
    margin-top: 15px;
    text-transform: uppercase;
}

/*PAGE ADMINS Element produit*/
#elementProduit{
    float: left;
    margin-top: 70px;
    margin-right:38px;
    margin-left:38px;
    width: 186px;
    height: 158px; 
    text-align: center; 
}
#titleProduit{
    display: block;
    color:#7da3cc;
    text-align: center;
    width: 186px; 
    font-size: 16pt;
    margin-top: 15px;
    text-transform: uppercase;
}
/*PAGE ADMINS Element */
#elementParametre{
    float: left;
    margin-top: 70px;
    margin-right:38px;
    margin-left:38px;
    width: 186px;
    height: 158px; 
    text-align: center; 
}
#titleParametre{
    display: block;
    color:#a244b2;
    text-align: center;
    width: 186px; 
    font-size: 16pt;
    margin-top: 15px;
    text-transform: uppercase;
}
