/* PAGE COMMANDE */

.container-commande {
	width:100%;
	max-width:1280px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:82px;
}

.content-commande {
	width:100%;
	max-width:1105px;
	margin:0 auto;
	padding:40px 20px 40px 0;
	background-image:url('img/bck-white-bloc.png');
	background-repeat:repeat;
}

.box-left {
	font-family:Arial, Helvetica, sans-serif;
	font-size:34px;
	color:#2B486D;
	font-weight:bold;
	float:left;
}

.head-commande {
	width:100%;
	max-width:1130px;
	height:122px;
}

.box-center {
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	text-align:right;
	color:#7DA3CD;
	float:left;
	padding:15px 0 0 80px;
}

.box-right {
	float:right;
	background-position:top;
}

.content-video {
	width:100%;
	max-width:1124px;
	height:179px;
	border:1px solid #404040;
	margin-top:40px;
}

.img-video {
	float:left;
}

.video-show-content1 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 15px;
	border-right:5px solid #2B486D;
}

.video-show-title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#2B486D;
}

.video-text1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#4277BA;
	margin:10px 0 10px 45px;
}

.video-show-content2 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 0;
	border-right:5px solid #2B486D;
}

.video-text2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#4277BA;
	margin:30px 0 10px 20px;
}

.qte-video {
	float:left;
	margin:0 0 10px 0;
}

.titre-qte {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 15px 20px;
}

.select-option {
	  margin:23px 20px 0 23px;
	  border-radius:0;
}

.titre-prix-video {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 20px;
}

.titre-prix-ttc-video {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 5px;
}

.checkbox-video {
	float:right;
	margin:50px 70px 0 20px;
	width:18px;
	height:18px;
	/*border:2px solid #2B486D;*/
	background:#ffffff;
	border-radius:0;
	box-shadow:none;
}

.text-checkbox-video {
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#2B486D;
	margin:10px 50px 0 0;
	text-align:center;
}

.liv-ht-video {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4277BA;
	float:right;
	margin:0 35px 0 0;
}

.content-digivox {
	width:100%;
	max-width:1124px;
	height:179px;
	border:1px solid #404040;
	margin-top:40px;
}

.img-digivox {
	float:left;
}

.digivox-content1 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 15px;
	border-right:5px solid #2B486D;
}

.digivox-title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#2B486D;
}

.digivox-text1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#4277BA;
	margin:10px 0 10px 45px;
}

.digivox-content2 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 0;
	border-right:5px solid #2B486D;
}

.digivox-text2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#4277BA;
	margin:30px 0 10px 20px;
}

.qte-digivox {
	float:left;
	margin:0 0 10px 0;
}

.titre-digivox {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 15px 20px;
}

.select-option {
	  margin:23px 20px 0 23px;
	  border-radius:0;
}

.titre-prix-digivox {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 20px;
}

.titre-prix-ttc-digivox {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 5px;
}

.checkbox-digivox {
	float:right;
	margin:50px 70px 0 20px;
	width:18px;
	height:18px;
	border:2px solid #2B486D;
	background:#ffffff;
	border-radius:0;
	box-shadow:none;
}

.text-checkbox-digivox {
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#2B486D;
	margin:10px 50px 0 0;
	text-align:center;
}

.liv-ht-digivox {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4277BA;
	float:right;
	margin:0 35px 0 0;
}

.content-terrasse {
	width:100%;
	max-width:1124px;
	height:179px;
	border:1px solid #404040;
	margin-top:40px;
}

.img-terrasse {
	float:left;
}

.terrasse-content1 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 15px;
	border-right:5px solid #2B486D;
}

.terrasse-title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#2B486D;
}

.terrasse-text1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#4277BA;
	margin:10px 0 10px 45px;
}

.terrasse-content2 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 0;
	border-right:5px solid #2B486D;
}

.terrasse-text2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#4277BA;
	margin:30px 0 10px 20px;
}

.qte-terrasse {
	float:left;
	margin:0 0 10px 0;
}

.titre-terrasse {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 15px 20px;
}

.select-option {
	  margin:23px 20px 0 23px;
	  border-radius:0;
}

.titre-prix-terrasse {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 20px;
}

.titre-prix-ttc-terrasse {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 5px;
}

.content-sonore {
	width:100%;
	max-width:1124px;
	height:179px;
	border:1px solid #404040;
	margin-top:40px;
}

.img-sonore {
	float:left;
}

.sonore-content1 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 15px;
	border-right:5px solid #2B486D;
}

.sonore-title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#2B486D;
}

.sonore-text1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#4277BA;
	margin:10px 0 10px 45px;
}

.sonore-content2 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 0;
	border-right:5px solid #2B486D;
}

.sonore-text2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#4277BA;
	margin:30px 0 10px 20px;
}

.qte-sonore {
	float:left;
	margin:0 0 10px 0;
}

.titre-sonore {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 15px 20px;
}

.select-option {
	  margin:23px 20px 0 23px;
	  border-radius:0;
}

.titre-prix-sonore {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 20px;
}

.titre-prix-ttc-sonore {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 5px;
}

.content-souris {
	width:100%;
	max-width:1124px;
	height:179px;
	border:1px solid #404040;
	margin-top:40px;
}

.img-souris {
	float:left;
}

.souris-content1 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 15px;
	border-right:5px solid #2B486D;
}

.souris-title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#2B486D;
}

.souris-text1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#4277BA;
	margin:10px 0 10px 45px;
}

.souris-content2 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 0;
	border-right:5px solid #2B486D;
}

.souris-text2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#4277BA;
	margin:30px 0 10px 20px;
}

.qte-souris {
	float:left;
	margin:0 0 10px 0;
}

.titre-souris {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 15px 20px;
}

.select-option {
	  margin:23px 20px 0 23px;
	  border-radius:0;
}

.titre-prix-souris {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 20px;
}

.titre-prix-ttc-souris {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 5px;
}

.checkbox-souris {
	float:right;
	margin:50px 70px 0 20px;
	width:18px;
	height:18px;
	border:2px solid #2B486D;
	background:#ffffff;
	border-radius:0;
	box-shadow:none;
}

.text-checkbox-souris {
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#2B486D;
	margin:10px 50px 0 0;
	text-align:center;
}

.liv-ht-souris {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4277BA;
	float:right;
	margin:0 35px 0 0;
}

.content-play-on {
	width:100%;
	max-width:1124px;
	height:179px;
	border:1px solid #404040;
	margin-top:40px;
}

.img-play-on {
	float:left;
}

.play-on-content1 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 15px;
	border-right:5px solid #2B486D;
}

.play-on-title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#2B486D;
}

.play-on-text1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#4277BA;
	margin:10px 0 10px 45px;
}

.play-on-content2 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 0;
	border-right:5px solid #2B486D;
}

.play-on-text2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#4277BA;
	margin:30px 0 10px 20px;
}

.qte-play-on {
	float:left;
	margin:0 0 10px 0;
}

.titre-play-on {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 15px 20px;
}

.select-option {
	  margin:23px 20px 0 23px;
	  border-radius:0;
}

.titre-prix-play-on {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 20px;
}

.titre-prix-ttc-play-on {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 5px;
}

.content-cle {
	width:100%;
	max-width:1124px;
	height:179px;
	border:1px solid #404040;
	margin-top:40px;
}

.img-cle {
	float:left;
}

.cle-content1 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 15px;
	border-right:5px solid #2B486D;
}

.cle-title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#2B486D;
}

.cle-text1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#4277BA;
	margin:10px 0 10px 45px;
}

.cle-content2 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 0;
	border-right:5px solid #2B486D;
}

.cle-text2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#4277BA;
	margin:30px 0 10px 20px;
}

.qte-cle {
	float:left;
	margin:0 0 10px 0;
}

.titre-cle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 15px 20px;
}

.select-option {
	  margin:23px 20px 0 23px;
	  border-radius:0;
}

.titre-prix-cle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 20px;
}

.titre-prix-ttc-cle {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 5px;
}

.content-chevalier {
	width:100%;
	max-width:1124px;
	height:179px;
	border:1px solid #404040;
	margin-top:40px;
}

.img-chevalier {
	float:left;
}

.chevalier-content1 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 15px;
	border-right:5px solid #2B486D;
}

.chevalier-title {
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#2B486D;
}

.chevalier-text1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#4277BA;
	margin:10px 0 10px 45px;
}

.chevalier-content2 {
	width:216px;
	height:118px;
	float:left;
	margin:40px 0 40px 0;
	border-right:5px solid #2B486D;
}

.chevalier-text2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#4277BA;
	margin:30px 0 10px 20px;
}

.qte-chevalier {
	float:left;
	margin:0 0 10px 0;
}

.titre-chevalier {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 15px 20px;
}

.select-option {
	  margin:23px 20px 0 23px;
	  border-radius:0;
}

.titre-prix-chevalier {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 20px;
}

.titre-prix-ttc-chevalier {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
	float:left;
	margin:50px 20px 0 5px;
}

.checkbox-chevalier {
	float:right;
	margin:50px 70px 0 20px;
	width:18px;
	height:18px;
	border:2px solid #2B486D;
	background:#ffffff;
	border-radius:0;
	box-shadow:none;
}

.text-checkbox-chevalier {
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#2B486D;
	margin:10px 50px 0 0;
	text-align:center;
}

.liv-ht-chevalier {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#4277BA;
	float:right;
	margin:0 35px 0 0;
}

.text-etape {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#4277B1;
	text-align:right;
	margin:50px 20px 0 0;
}

/* PAGE COMMANDE - ETAPE 1*/

.container-commande1 {
	width:100%;
	max-width:1280px;
	height:1000px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:82px;
}

.content-commande1 {
	width:100%;
	max-width:1105px;
	margin:0 auto;
	padding:40px 20px 40px 0;
	background-image:url(../img/bck-white-bloc.png);
	background-repeat:repeat;
}

.head-commande1 {
	width:100%;
	max-width:1130px;
}

.text-head1-commande {
	font-family:Arial, Helvetica, sans-serif;
	font-size:34px;
	color:#2B486D;
	font-weight:bold;
}

.text-head2-commande {
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#4277BD;
	font-style:italic;
}

.content-online {
	width:100%;
	max-width:1280px;
	margin:0 auto;
}

.titre-online {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#2B486D;
	font-weight:bold;
	margin-top:80px;
	text-decoration:underline;
}

.left-form-commande {
	float:left;
	text-align:right;
}

p.form-commande {
	margin-top:20px;
	font-size: 20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#315974;
}

.center-form-commande {
	float:left;
	text-align:right;
	margin-left:20px;
}

/* PAGE CONTACT */

.contact-container {
	width:1173px;
	height:730px;
	margin: 0 auto;
	padding-top:43px;
}

.formulaire {
	background-color:#f2f8fe;
	font-family:sans-serif;
	text-align:right;
	color:#2d5671;
	font-size:12px;
	width: 687px;
	height:163px;
	clear: both;
	float:left;
	margin:auto;
}

.cssform label {
	float:left;
}

.cssform textarea {
	float:left;
	width:308px;
	height:80px;
}

.cssform input {
	float:left;
}

.contact-right-content {
	float: left;
	background:url(../img/fond_singe.png);
	background-repeat:no-repeat;
	font-family:sans-serif;
	font-size:22px;
	color:#94a735;
	width:456px;
	height:695px;
	padding-left:25px;
	background-position:bottom;
}

.petit{
	font-family:sans-serif;
	font-size:18px;
	color:#94a735;
	font-style:italic;
}

/* PAGE MENTION LEGALES */

.container {
	width:100%;
	max-width:1280px;
	height:565px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:84px;
}

.content-container {
	width:100%;
	max-width:1100px;
	height:520px;
	margin:0 auto;
	padding:35px 0 0 25px;
	background-image:url(../img/bck-white-bloc.png);
	background-repeat:repeat;
	color:#4278b2;
}

.titre1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:bold;
	color:#2b486d;
}

.titre2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	font-weight:bold;
	color:#4278b2;
	padding:65px 0 0 35px;
}

.text-container {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#4278b2;
	padding:10px 0 0 65px;
}

/* PAGE CONDITIONS GENERALES DE VENTE */

.condition-container {
	width:100%;
	max-width:1280px;
	height:3820px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:82px;
}

.condition-content-container {
	width:100%;
	max-width:1070px;
	height:3800px;
	margin:0 auto;
	padding:0 20px 40px 30px;
	background-image:url(../img/bck-white-bloc.png);
	background-repeat:repeat;
}

.grand-titre {
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:bold;
	color:#2b486d;
}

.titre-bienvenue {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-bienvenue {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#4278b2;
	padding:0 0 0 45px;
}

.titre-mentions {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}
		
.text-mentions {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#da79c2;
	padding:10px 0 0 40px;
}

.titre-commander {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-commander {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-retention {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-retention {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-retractation {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-retractation {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-prix {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-prix {
	font-family:Arial, H0elvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-paiement {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.texte-paiement {
	font-family:Arial, H0elvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-livraison {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-livraison {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:5px 0 0 40px;
}

.titre-garanties {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-garanties {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-responsabilite {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-responsabilite {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-litiges {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-litiges {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-modifications {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-modifications {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-donnees {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-donnees {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}
/* PAGE PASSEZ COMMANDE - ETAPE 2 */

.container-commande2 {
	width:100%;
	max-width:1280px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:82px;
}

.content-commande2 {
	width:100%;
	max-width:1105px;
	margin:0 auto;
	padding:40px 20px 40px 0;
	background-image:url(../img/bck-white-bloc.png);
	background-repeat:repeat;
}

.head-commande2 {
	width:100%;
	max-width:1130px;
}

.text-head-commande2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:34px;
	color:#2B486D;
	font-weight:bold;
}

.text-head-commande3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#4277BD;
	font-style:italic;
}

.online-etape2 {
	width:100%;
	max-width:1280px;
	margin:0 auto;
}

.titre-online-etape2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#2B486D;
	font-weight:bold;
	margin-top:80px;
	text-decoration:underline;
}

.bouton-container-account2 {
	width:189px;
	height:30px;
	background-color:#006DA4;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size: 18px;
	margin-top:40px;
	padding:10px 5px 0 5px;
}

.courrier-postal2 {
	width:100%;
	max-width:1280px;
	margin:0 auto;
	margin-top:50px;
}

.titre-courrier2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#2B486D;
	font-weight:bold;
	text-decoration:underline;
}

.resume-commande2 {
	width:100%;
	max-width:1280px;
	margin:0 auto;
	margin-top:60px;
}

.titre-resume-commande2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#2B486D;
	font-weight:bold;
	text-decoration:underline;
}

.bouton-container-modifier2 {
	width:189px;
	height:40px;
	background-color:#006DA4;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size: 18px;
	line-height:40px;
	float:right;
	margin-right:400px;
}

.content-resume-commande2 {
	width:100%;
	max-width:1085px;
	margin:0 auto;
	margin-top:60px;
	padding:20px;
	background-color:#fcf7e8;
}

.titre-content-resume2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
}

.sep-color-resume {
	width:99.28571428571429%;
	height:2px;
	background-color:#2B486D;
}

/* PAGE PASSEZ COMMANDE - ETAPE 3 */

.container-commande3 {
	width:100%;
	max-width:1280px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:82px;
}

.content-commande3 {
	width:100%;
	max-width:1105px;
	margin:0 auto;
	padding:40px 20px 40px 0;
	background-image:url(../img/bck-white-bloc.png);
	background-repeat:repeat;
}

.head-commande3 {
	width:100%;
	max-width:1130px;
}

.text-head-commande3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:34px;
	color:#2B486D;
	font-weight:bold;
	font-style:normal;
}

.text-head-commande4 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#4277BD;
	font-style:italic;
}

.virement-etape3 {
	width:100%;
	max-width:1280px;
	margin:0 auto;
}

.titre-virement-etape3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#2B486D;
	font-weight:bold;
	margin-top:80px;
	text-decoration:underline;
}

.texte-virement {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#595959;
}

.content-virement2 {
	width:100%;
	max-width:1280px;
}

.bouton-envoyer {
	width:189px;
	height:40px;
	background-color:#006DA4;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size: 18px;
	line-height:40px;
	margin:15px 20px 0 0;
	float:left;
}

.text-virement-right {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-style:italic;
	color:#595959;
}

.carte-bancaire {
	width:100%;
	max-width:1280px;
	margin:0 auto;
	margin-top:50px;
}

.titre-bancaire {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#2B486D;
	font-weight:bold;
	text-decoration:underline;
}

.text-bancaire {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#595959;
}

.type-carte {
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	font-weight:bold;
	color:#000000;
	margin-top:50px;
}

.text-type-carte {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#595959;
	font-style:italic;
	font-weight:normal;
}

.bloc-carte {
	width:100%;
	max-width:1280px;
	margin:0 auto;
	margin-top:50px;
}

.cb {
	margin:0 10px 0 0;
	float:left;
}

.visa {
	float:left;
	margin:3px 20px 0 20px;
}

.mastercard {
	float:left;
	margin:3px 20px 0 10px;
}

.pay {
	float:left;
	margin:5px 20px 0 10px;
}

.content-resume-commande3 {
	width:100%;
	max-width:1085px;
	margin:0 auto;
	margin-top:60px;
	padding:20px;
	background-color:#fcf7e8;
}

.resume-commande3 {
	width:100%;
	max-width:1280px;
	margin:0 auto;
	margin-top:60px;
}

.titre-content-resume3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	color:#2B486D;
}

.sep-color-resume {
	width:99.28571428571429%;
	height:2px;
	background-color:#2B486D;
}

.titre-resume-commande3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#2B486D;
	font-weight:bold;
	text-decoration:underline;
}

.bouton-container-modifier3 {
	width:189px;
	height:40px;
	background-color:#006DA4;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	font-size: 18px;
	line-height:40px;
	float:right;
	margin-right:400px;
}

/* PAGE PAIEMENT ANNULE */

.container-paiement-annule {
	width:100%;
	max-width:1130px;
	height:500px;
	margin: 0 auto;
	padding-top:150px;
}

.titre-paiement-annule {
	font-family:Arial, Helvetica, sans-serif;
	font-size:36px;
	color:#2B486D;
	font-weight:bold;
	float:left;
	margin-top:60px;
}

.img-left {
	float:right;
	margin:0 20px 0 10px;
}

.text-paiement-annule {
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#4277BD;
	font-weight:bold;
	float:left;
	margin-top:60px;
}

/* PAGE PAIEMENT REUSSI */

.container-paiement-reussi {
	width:100%;
	max-width:1280px;
	height:1000px;
	margin: 0 auto;
	background-color:#2B486D;
}

.content-reussi {
	width:100%;
	max-width:1120px;
	height:100px;
	padding:100px 50px 0 50px;
	background-color:#CCCCCC;
}

.text-reussi {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#ffffff;
	font-weight:bold;
}

/* PAGE MES COMMANDES */

.container-mes-commandes {
	width:100%;
	max-width:1280px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:82px;
}

.content-mes-commandes {
	width:100%;
	max-width:1070px;
	height:480px;
	margin:0 auto;
	padding:40px 20px 40px 40px;
	background-image:url(../img/bck-white-bloc.png);
	background-repeat:repeat;
}

.titre-mes-commandes {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#2B486D;
	font-weight:bold;
}

.sep-commandes {
	width:40.28571428571429%;
	height:4px;
	background-color:#7DA3CD;
}

.bloc-right-commandes {
	float:right;
	margin:0 70px 0 0;
}

/* PAGE MES LOGICIELS */

.container-mes-logiciels {
	width:100%;
	max-width:1280px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:82px;
}

.content-mes-logiciels {
	width:100%;
	max-width:1070px;
	height:480px;
	margin:0 auto;
	padding:40px 20px 40px 40px;
	background-image:url(../img/bck-white-bloc.png);
	background-repeat:repeat;
}

.titre-mes-logiciels {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#2B486D;
	font-weight:bold;
}

.sep-logiciels {
	width:40.28571428571429%;
	height:4px;
	background-color:#7DA3CD;
}

.bloc-right-logiciels {
	float:right;
	margin:0 70px 0 0;
}
