/* PAGE MONDE SONORE OTTO*/

.container-sonore-otto {
	width:100%;
	max-width:1280px;
	margin: 0 auto;
	padding-top:25px;
}

.content-sonore-otto {
	width:100%;
	max-width:1080px;
	margin:0 auto;
	padding:10px 20px 40px 0;
}

.head-content-sonore {
	width:100%;
	max-width:1080px;
	margin:0 auto;
}

.img-left-sonore {
	margin-left:155px;
	float:left;
}

.head-right-sonore {
	width:100%;
	max-width:758px;
	height:70px;
	padding:2px 20px 20px 20px;
	background-color:#8a227b;
	margin-left:310px;
}

.titre-sonore-otto {
	float:left;
	width:100%;
	max-width:330px;
	margin-top:20px;
}

.titre-sonore1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#ffffff;
}

.titre-sonore2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#ffffff;
}

.container-price-sonore {
	line-height:64;
	max-width:450px;
	margin:0 auto;
}

.price-sonore1 {
	float:left;
	border-radius:30px 30px 30px 30px;
	border:2px solid;
	border-color: #FFFFFF;
	width:48px;
	height:48px;
	line-height:0.9;
	margin-top:20px;
}

.price-sonore1-content {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color:#ffffff;
	text-align:center;
	line-height:0.9;
	padding-top:10px;
}

.price-sonore2 {
	float:left;
	border-radius:30px 30px 30px 30px;
	border:2px solid;
	border-color: #FFFFFF;
	width:34px;
	height:34px;
	line-height:0.9;
	margin:25px 0 0 20px;
}

.price-sonore2-content {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #FFFFFF;
	text-align:center;
	line-height:0.9;
	padding-top:10px;
}

.price-sonore3 {
	float:left;
	background-image:url('img/fd_star_otto.png');
	width:76px;
	height:86px;
	line-height:0.9;
	margin:5px 0 0 30px;
}

.price-sonore3-content {
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #FFFFFF;
	text-align:center;
	line-height:0.9;
	padding-top:20px;	
}

a.btn-essaie {
	text-decoration:none;
}

.border-btn-essaie {
	border-radius:5px 5px 5px 5px;
	background-color:#8a227b;
	width:87px;
	height:40px;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	text-align:center;
	margin-top:10px;
	padding-top:5px;
}

.price-sonore4 {
	float:left;
	border-radius:30px 30px 30px 30px;
	border:2px solid;
	border-color: #FFFFFF;
	width:58px;
	height:58px;
	line-height:1.2;
	margin:10px 0 0 40px;
}

.price-sonore4-content {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	color: #FFFFFF;
	text-align:center;
	line-height:1.2;
	padding-top:10px;	
}

a.btn-acheter {
	text-decoration:none;
}

.border-btn-acheter {
	border-radius:5px 5px 5px 5px;
	background-color:#8a227b;
	width:70px;
	height:30px;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
	text-align:center;
	margin:20px 0 0 0;
	padding-top:5px;
}

.price-sonore5 {
	float:left;
	border-radius:30px 30px 30px 30px;
	border:2px solid;
	border-color: #FFFFFF;
	width:48px;
	height:48px;
	line-height:0.9;
	margin:15px 0 0 55px;
}

.btn-fermer {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#ffffff;
	text-align:center;
	line-height:0.9;
	padding-top:15px;	
}

.content-sonore-otto2 {
	width:100%;
	max-width:1080px;
	height:565px;
	margin:0 auto;
	padding:120px 20px 40px 0;
	border:4px solid;
	border-color:#8a227b;
	background-image:url('img/fond_otto.jpg');
	background-repeat:no-repeat;
	background-position:bottom;
}

.content-left-sonore {
	width:100%;
	max-width:490px;
	margin:0 auto;
	padding:20px 10px 0 20px;
	float:left;
}

.content-left-sonore1 {
	max-width:530px;
	width:443px;
	height:237px;
	margin:0 auto;
}

.content-left-sonore2 {
	max-width:530px;
	margin:0 auto;
}

/*----- Accordion -----*/
 
.accordion {
	padding-top:30px;
}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    padding:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
    color:#8a227b;
	font-weight:bold;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
	text-decoration:none;
}
 
/*----- Section Content -----*/
.accordion-section-content {
    display:none;
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
    color:#8a227b;
	padding:0 0 0 30px;
	text-align:justify;
}

.content-right-sonore {
	width:100%;
	max-width:490px;
	margin:0 auto;
	padding:20px 10px 0 20px;
	float:right;
}