/* PAGE MENTION LEGALES */

.container {
	width:100%;
	max-width:1280px;
	height:565px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:84px;
}

.content-container {
	width:100%;
	max-width:1100px;
	height:520px;
	margin:0 auto;
	padding:35px 0 0 25px;
	background-image:url(../img/bck-white-bloc.png);
	background-repeat:repeat;
	color:#4278b2;
}

.titre1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:bold;
	color:#2b486d;
}

.titre2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:25px;
	font-weight:bold;
	color:#4278b2;
	padding:65px 0 0 35px;
}

.text-container {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#4278b2;
	padding:10px 0 0 65px;
}

/* PAGE CONDITIONS GENERALES DE VENTE */

.condition-container {
	width:100%;
	/*max-width:1280px;*/
	height:3820px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:82px;
}

.condition-content-container {
	width:100%;
	max-width:1070px;
	height:3800px;
	margin:0 auto;
	padding:0 20px 40px 30px;
	background-image:url(../img/bck-white-bloc.png);
	background-repeat:repeat;
}

.grand-titre {
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	font-weight:bold;
	color:#2b486d;
}

.titre-bienvenue {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-bienvenue {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#4278b2;
	padding:0 0 0 45px;
}

.titre-mentions {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}
		
.text-mentions {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#da79c2;
	padding:10px 0 0 40px;
}

.titre-commander {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-commander {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-retention {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-retention {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-retractation {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-retractation {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-prix {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-prix {
	font-family:Arial, H0elvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-paiement {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.texte-paiement {
	font-family:Arial, H0elvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-livraison {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-livraison {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:5px 0 0 40px;
}

.titre-garanties {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-garanties {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-responsabilite {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-responsabilite {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-litiges {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-litiges {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-modifications {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-modifications {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.titre-donnees {
	font-family:Arial, Helvetica, sans-serif;
	font-size:20px;
	font-weight:bold;
	color:#4278b2;
	padding:20px 0 0 5px;
}

.text-donnees {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	font-weight:normal;
	color:#4278b2;
	padding:0 0 0 40px;
}

.foot-url {
	text-decoration:none;
	color:#7a7a7a;
}
/* PAGE QUI SOMMES-NOUS */

.plane {
	width:100%;
	max-width:935px;
	margin:0 auto;
}

.titre {
	font-size:14px;
	padding:20px 20px 0 60px;
}
.top-content{
	width: 492px;
	margin-top: 80px;
}
.bloc-content {
	margin:10px;
	padding: 15px;
	background-color: rgba(255,255,255, 0.5);
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 25px;
}

.bloc-text {
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#76459B;
	padding:0 40px 0 40px;
}

/* PAGE EQUIPE */

.container-equipe {
	width:100%;
	max-width:1280;
	height:700px;
}

.content {
	width:100%;
	height:700px;
	background:url('img/fond_3.png');
	background-repeat:no-repeat;	
}

.box-1 {
	width:320px;
	float:left;
}

.box-head1 {
	border-radius:10px 10px 10px 10px;
	width:320px;
	height:25px;
	background-color:#6d1f80;
	margin:40px 0 0 107px;
	padding-top:20px;
}

.box-head-title1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#ffffff;
	text-align:center;
	line-height: 0;
}

.box-content1 {
	width:320px;
	height:448px;
	background:url(../img/fd_transp3.png);
}

.box-content {
	width:320px;
	height:448px;
	background-color: rgba(255,255,255, 0.6);
	border-radius: 15px;
}

.content-title1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#70227B;
	padding:20px 0 0 20px;
}

.content-text1 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#70227B;
	padding:20px 0 0 20px;
}

.box-2 {
	width:320px;
	float:left;
}

.box-head2 {
	border-radius:10px 10px 10px 10px;
	width:320px;
	height:25px;
	background-color:#6d1f80;
	margin:40px 0 0 160px;
	padding-top:20px;
}

.box-head-title2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#ffffff;
	text-align:center;
	line-height: 0;
}

.box-content2 {
	width:320px;
	height:448px;
	background:url(../img/fd_transp3.png);
}

.content-title2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#70227B;
	padding:20px 0 0 20px;
}

.content-text2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#70227B;
	padding:20px 0 0 20px;
}

.box-3 {
	width:320px;
	float:left;
}

.box-head3 {
	border-radius:10px 10px 10px 10px;
	width:320px;
	height:25px;
	background-color:#6d1f80;
	margin:40px 0 0 217px;
	padding-top:20px;
}

.box-head-title3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:24px;
	color:#ffffff;
	text-align:center;
	line-height: 0;
}

.box-content3 {
	width:320px;
	height:448px;
	background:url(../img/fd_transp3.png);
}

.content-title3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
	color:#70227B;
	padding:20px 0 0 20px;
}

.content-text3 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	color:#70227B;
	padding:20px 0 0 20px;
}

/* PAGE TROUBLE AUDITION LANGUAGE */

.container-audit {
	width:100%;
	max-width:1280px;
}

.content-audit {
	width:100%;
	max-width:1280px;
	background-repeat:no-repeat;
	margin-left:177px;
	margin-top:90px;
}

.plane {
	width:100%;
	max-width:935px;
	margin:0 auto;
}

.bloc-audit1 {
	width:576px;
	height:119px;
	background:url('img/fd_audit1.png');
	margin-left:60px;
	margin-top:50px;
}

.text-bloc-audit1 {
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#E9002C;
	padding:28px 0 0 20px;
}

.bloc-audit2 {
	width:910px;
	height:359px;
	background:url('img/fd_audit2.png');
	margin-left:60px;
	margin-top:60px;
}

.titre-bloc2 {
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#E9002C;
	padding:28px 0 0 20px;
}

.text-bloc-audit2 {
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	text-align:justify;
	color:#76459B;
	padding:5px 20px 0 20px;
}

.img-right-audit {
	float:right;
	margin:0 30px 0 0;
}

.bloc-audit3 {
	width:910px;
	margin-left:60px;
	margin-top:60px;
}

.titre-bloc3 {
	font-size:17px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#E9002C;
	padding:28px 0 0 20px;
}

.text-bloc-audit3 {
	font-size:15px;
	font-family:Arial, Helvetica, sans-serif;
	color:#76459B;
	padding:0 20px 80px 20px;
	text-align:justify;
}