/*/* PAGE MOT DE PASSE OUBLIE */
/*
.container-mdp {
	width:100%;
	max-width:1280px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:82px;
}

.content-mdp {
	width:100%;
	max-width:1070px;
	margin:0 auto;
	padding:40px 20px 40px 40px;
	background-image:url('img/bck-white-bloc.png');
	background-repeat:repeat;
}

.titre-mdp {
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	color:#2B486D;
	font-weight:bold;
}

.sep-mdp {
	width:40.28571428571429%;
	height:4px;
	background-color:#7DA3CD;
}

.bloc-right-mdp {
	float:right;
	margin:0 70px 0 0;
}

.texte-mdp {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#4277BD;
	font-weight:bold;
	margin-top:150px;
}

.form input {
	margin:50px 0 0 0;
}

.form-field {
	float:left;
}

.bouton-right {
	float:left;
	margin-left:10px;
}

.bouton-container-mdp {
	width:189px;
	height:39px;
	line-height:40px;
	background-color:#006DA4;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	margin:40px 0 0 0;
	font-size: 20px;
}*/
.container-mdp {
	width:100%;
	max-width:1280px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:82px;
}
.content-mdp {
	display: inline-block;
	vertical-align: top;
	width:70%;
	max-width:1070px;
	margin:0 auto;
	background-image:url('img/bck-white-bloc.png');
	background-repeat:repeat;
}
.bloc-right-mdp {
	width: 25%;
	display: inline-block;
	vertical-align: top;
}
.bouton-container-mdp {
	width:189px;
	height:39px;
	line-height:40px;
	background-color:#006DA4;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	margin:40px 0 0 0;
	font-size: 20px;
}
.titre-mdp {
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	color:#2B486D;
	font-weight:bold;
}

.sep-mdp {
	width:40.28571428571429%;
	height:4px;
	background-color:#7DA3CD;
}
.texte-mdp {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#4277BD;
	font-weight:bold;
	margin-top:150px;
}
.form-field {
	float:left;
}
.bouton-right {
	float:left;
	margin-left:10px;
}