/* S'INSCRIRE */

.container-inscrire {
	width:100%;
	max-width:1280px;
	background-color:#f2fcfd;
	margin: 0 auto;
	padding-top:82px;
}

.content-inscrire {
	width:100%;
	max-width:1070px;
	margin:0 auto;
	padding:40px 20px 40px 40px;
	background-image:url('img/bck-white-bloc.png');
	background-repeat:repeat;
}

.titre-inscrire {
	font-family:Arial, Helvetica, sans-serif;
	font-size:32px;
	color:#2B486D;
	font-weight:bold;
}

.sep-inscrire {
	width:40.28571428571429%;
	height:4px;
	background-color:#7DA3CD;
}

.bloc-right-inscrire {
	float:right;
	margin:0 70px 0 0;
}

.texte-inscrire {
	font-family:Arial, Helvetica, sans-serif;
	font-size:28px;
	color:#4277BD;
	font-weight:bold;
	margin-top:150px;
}

.field-label {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000000;
	font-weight:bold;
	margin-top:150px;
	margin: 100px 0 10px;
}

.field-area input {
	border:2px solid #000;
	width:540px;
	height:35px;
}

.field-label2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#000000;
	font-weight:bold;
	margin-top:150px;
	margin: 40px 0 10px;
}

.bouton-container-inscrire {
	width:189px;
	height:39px;
	line-height:40px;
	background-color:#006DA4;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	text-align:center;
	margin:40px 0 0 0;
	font-size: 20px;
}