<div class="content-inscrire">
        <div class="titre-inscrire">
            Remplir votre information àfin d'activer votre compte
            <div class="sep-inscrire">
            </div>
            </div>
        <?php echo $this->Form->create('User');?>
        <?php echo $this->Form->input('email', array('label' => "", 'class' => 'um-form-field valid'));?>
        <fieldset >
            <legend>Profil</legend>
            <?php echo $this->Form->input('username', array('label' => "", 'class' => 'um-form-field valid'));?>
            <?php echo $this->Form->input('lastname', array('label' => "", 'class' => 'um-form-field valid'));?>
        </fieldset>
        <?php echo $this->Form->button('Submit', array('class' => 'btn btn-primary')); ?>
        
        <?php echo $this->Form->end(); ?>
    </div>
</div>