
<div class="container-mdp">
    	<div class="content-mdp">
        	<div class="titre-mdp">
            	<?php echo __('Mot de passe oubli&eacute') ?>
                <div class="sep-mdp">
                </div>
            </div>
            
            <div class="texte-mdp">
            	<br /><?php echo __('Saisissez votre adresse mail et validez.') ?>
                <br /><br /><?php echo __('Vous allez recevoir un Email d&rsquo;Audivimedia avec un lien pour la v&eacute;rification') ?>
            </div>
            
            <div class="form-field">
                 <input type style="width:541px; height:35px; border:2px solid #000000; margin:40px 10px 10px 5px;" ="text" id="lastname" name="lastname" tabindex="2" title="last name"><br>
           </div>
           <div class="bouton-right">
                <div class="bouton-container-mdp">
                    <a style="text-decoration:none; color:#ffffff;" href="#"><?php echo __('Valider') ?></a>
                </div>
           </div>
           <br /><br /><br /><br /><br /><br />
        </div>
      <div class="bloc-right-mdp">
              <?php echo $this->Html->image('desing/img_par.png'); ?>
      </div>
    </div>